.page4_container {
  // background-color: #181818;
  padding: 2% 3%;

  .page4_img_container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .page4_heading {
    margin-top: 50px;
    font-size: 4vw;
    font-weight: 600;
    padding: 0 15%;
    line-height: 120%;
    word-spacing: 20px;
    // text-align: justify;
    position: relative;
    font-family: 'Source Code Pro';


    .page4_text_bg_shadow {
      position: absolute;
      top: 0;
      left: 20%;
      width: 40%;
      opacity: 0.5;
    }
  }

  .page4_subtext {
    margin-top: 20px;
    color: #fff;
    font-family: 'Montserrat';
    font-size: 1.5vw;
    font-weight: 400;
    opacity: 0.5;
    padding: 0 15%;
  }
}

@media only screen and (max-width: 992px) {
  .page4_container {
    padding: 2% 3%;

    .page4_heading {
      margin-top: 30px;
      font-size: 4vw;
      font-weight: 600;
      padding: 0 10%;
      line-height: 100%;
      word-spacing: 1px;
    }

    .page4_subtext {
      margin-top: 10px;
      color: #fff;
      font-family: HelveticaNeue;
      font-size: 2.5vw;
      font-weight: 400;
      opacity: 0.5;
      padding: 0 10%;
    }
  }
}
