.footer_container {
  background: #181818;
  color: white;
  padding: 5% 12%;
  height: auto;

  .company_details_links_container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .about_company_container {
      .logo_name_container {
        display: flex;
        align-items: center;

        .logo_dark_img {
          width: 3vw;
        }

        .company_name {
          font-size: 2vw;
          padding-left: 10%;
          font-family: Montserrat;
          font-weight: 600;
        }
      }

      .about_company {
        margin-top: 20px;
        color: #8f8f97;
        font-family: HelveticaNeue;
        font-size: 1.2vw;
        font-style: normal;
        font-weight: 400;
        width: 20vw;
      }

      .social_media_icons_container {
        display: flex;
        align-items: center;
        margin-top: 20px;

        .social_media_icon {
          width: 3vw;
          height: 3vw;
          padding: 5px;
          margin-right: 10px;
          border-radius: 50%;
          border: 1px solid white;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }

    .links_category_container {
      .link_heading {
        font-size: 1.2vw;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        margin-bottom: 10px;
      }

      .link_container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .link {
          color: #8f8f97;
          font-size: 1.2vw;
          margin: 10px 0;
        }
      }
    }
  }

  .copyright_text {
    color: #8f8f97;
    text-align: center;
    font-family: HelveticaNeue;
    font-size: 1vw;
    font-weight: 400;
    margin-top: 30px;
  }
}
