.homepage {
  .line-dot-container {
    position: fixed;
    right: 5%; // Adjust the distance from the right side as needed
    top: 50%; // Position it vertically in the middle of the viewport
    transform: translateY(-50%); // Center it vertically
    width: 2px; // Width of the line
    background-color: white; // Color of the line
    opacity: 0.5; // Adjust the opacity as needed
    z-index: 999; // Ensure it's above other elements
    min-height: 30%; // Minimum height of the line (30% of the viewport height)
  }

  .line-dot {
    width: 20px; // Width of the dot
    height: 20px; // Height of the dot
    background-color: white; // Color of the dot
    border-radius: 50%; // Make it a circle
    position: absolute; // Position the dot relative to its container
    top: 0; // Position the dot at the top of the container
    right: -9px; // Adjust the dot's horizontal position as needed
    transform: translateY(-50%); // Center the dot vertically
  }
}
