.page2_container {
  height: 50vh;
  // background-color: #181818;
  padding: 2% 3%;
  position: relative;
  padding-top: 7%;
  margin-bottom: 7%;
  //   text-align: center;

  .bg_shadow_3 {
    position: absolute;
    top: 20%;
    left: -40%;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  .bg_shadow_4 {
    position: absolute;
    top: -20%;
    right: 10%;
    width: 20vw;
    height: 20vw;
    z-index: 0;
  }

  .bg_shadow_5 {
    position: absolute;
    top: 30%;
    right: -50%;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  .page2_bg_img_1 {
    position: absolute;
    top: 7%;
    right: 18%;
    width: 35px;
    z-index: 1;
  }

  .page2_bg_img_2 {
    position: absolute;
    bottom: -10%;
    left: 30%;
    width: 10%;
    z-index: 3;
  }

  .video_container {
    // height: 320px;
    height: 80%;
    // width: 450px;
    width: 28%;
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 5px;
    background: linear-gradient(
      121deg,
      rgba(255, 255, 255, 0.3) 10.55%,
      rgba(255, 255, 255, 0.1) 88.02%
    );
    box-shadow: 0px 12.3293px 73.97579px -3.08232px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;

    .video_icon {
      width: 40%;
    }
  }

  .page2_heading {
    font-size: 10vw;
    line-height: 100%;
    padding: 0 15%;
    position: relative;
    font-weight: 600;

    .heading_part1 {
      padding-left: 5%;
      position: relative;

      .heading_part1_subtext {
        color: #fff;
        font-family: HelveticaNeue;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        position: absolute;
        right: 0%;
        top: 25%;
        width: 15vw;
        opacity: 0.5;
      }
    }
    .heading_part2 {
      padding-left: 45%;

      .heading_part2_subtext {
        color: #fff;
        font-family: HelveticaNeue;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        position: absolute;
        left: 20%;
        bottom: 10%;
        width: 15vw;
        opacity: 0.5;
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .page2_container {
    height: auto;

    .page2_heading {
      .heading_part1 {
        .heading_part1_subtext {
          display: none;
        }
      }

      .heading_part2 {
        .heading_part2_subtext {
          display: none;
        }
      }
    }
  }
}
